# NES source folder
src

# Reference guides
*.pdf
AllMem
bbcmemmap1.txt

# Other files
*.jpg
*.webp
*.png
*.gif
*.bak

# Password decoder
password_test

# Melody extractor
melody_extract

# Flip lookup table generator
flip_lut
