# NES source folder
src

# Reference guides
*.pdf
AllMem
bbcmemmap1.txt

# Other files
*.jpg
*.webp
*.gif
*.bak

# Emulator RAM DUMP file
DUMP

# Password decoder
password_test

# Melody extractor
melody_extract

# Flip lookup table generator
flip_lut

# Downloader binary
DOWNLOADER

# Tokenised BASIC
loadertok.bin